<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/patternfly.css" rel="stylesheet" type="text/css">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <title>Document</title>
</head>
<body>
  <div class="pf-l-stack box-70">
    <div class="pf-l-stack__item padding-top-20">
      <div class="pf-c-content">
        <h1>Red Hat Summit Connect Ireland 2021</h1>
      </div>
    </div>
    <div class="pf-l-stack__item pf-m-fill">
      
      <div class="pf-l-bullseye">
        <div class="pf-l-bullseye__item">
          <div class="pf-l-flex">
            <% data.forEach(function(item) { %>
              <div class="pf-l-flex__item padding-top-20">
                <div class="pf-c-card" id="card-basic-example">
                  <div class="pf-c-card__title"></div>
                  <div class="pf-c-card__body">
                    <img
                      class="pf-c-avatar"
                      src="/images/image.png"
                      alt="Avatar image"
                    />
                  </div>
                  <div class="pf-c-card__footer"><%= item %></div>
                </div>
              </div>
            <% }); %>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
            <div class="pf-l-flex__item padding-top-20">
              <div class="pf-c-card" id="card-basic-example">
                <div class="pf-c-card__title"></div>
                <div class="pf-c-card__body">
                  <img
                    class="pf-c-avatar"
                    src="/images/image.png"
                    alt="Avatar image"
                  />
                </div>
                <div class="pf-c-card__footer">Name</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pf-l-stack__item"></div>
  </div>

</body>
</html>